html,body {
  height: 100% !important;
  overflow: auto !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  /* height: 100%;*/
  /* overflow-y: scroll;*/
}
.content {
  position: relative;
}
/*navbar*/
.nav-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 1px 0 1px 1px rgab(0,0,0,0.3);
          box-shadow: 1px 0 1px 1px rgab(0,0,0,0.3);
  border-bottom: 1px solid #eeeeee;

/*4个及以下*/
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    height: 1.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    .nav-li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
      height: 100%
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
      }
  }
  /*4个以上*/
  .isMore {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc(100% - 1.25rem);
    overflow: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .nav-li-more {
      height: 100%;
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(25% + 20px);
              flex: 0 0 calc(25% + 20px);
    }
    .nav-text {
      text-align: center;
      line-height: 1.25rem;
      font-size: 0.39rem;
      color: #666666;
      margin: 0 auto;
    }
  }

  .nav-item {
    color: #666666;
    opacity: 1;
    font-size: 0.31rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }
  .nav-item-active {
    color: #ff718e;
    border-bottom: 1px solid #ff718e;
  }


  .drop-down {
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    right: 0;
    position: absolute;
    border-left: 1px solid #eeeeee;
    -webkit-box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.1);
            box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 999;

    .mn-icon {
      width: 1rem !important;
      height: 1rem !important;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      fill: #ff718e;
    }
  }

  .nav-dropdown {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    .nav-dropdown-li {
      width: 33.333%;
      text-align: center;
      height: 1.25rem;

      .nav-dropdown-item {
        color: #666666;
        font-size: 0.31rem;
        line-height: 1.25rem;
      }
      .active {
        color: #ff718e;
      }
    }
  }
}
/*头图*/
.header-img {
  width: 100%;
  margin: 0;
  padding: 2.81rem 0 0;

  img {
    width: 100%;
  }
}
/*轮播图*/
.img-play {
  width: 100%;
  margin: 0;
  padding: 0;

  img {
    width: 100%;
  }
}
/*单个商品*/
.hot-items {
  background: {
    color: #fff;
    /* image: ;*/
    /* size: ;*/
    /* position: ;*/
    /* repeat: ;*/
  }

  .hot-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;

    &-img {
      width: 48%;
      position: relative;

      img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      width: 52%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      .item-info-title h2{
        color: #333333;
        font-size: 0.4rem;
        font-weight: 500;
      }

      .item-info-subtitle {
        margin-top: 0;

        ul {
          list-style: none;
          position: relative;

          li {
            font-size: 0.4rem;
            color: #aaaaaa;
            padding-left: 0.47rem;

            &:before{
              content: '';
              display: block;
              border-radius: 50%;
              position: absolute;
              color: #aaa;
              left: 0;
              border: 5px solid #aaa;
              top: 0.2rem;
            }
          }
        }
      }

      .item-info-price {

        .old-price {
          color: #aaaaaa;
          text-decoration: line-through;
          font-size: 0.3rem;
        }

        .new-price {
          color: #F05423;
          font-size: 0.4rem;

          &-big {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
/*多个商品*/
.normal-items {
  background: {
    /* color: #81CDFF;*/
    /* image: ;*/
    /* position: ;*/
    /* size: ;*/
    /* repeat: ;*/
  }
  margin: 0;
  padding: 0;

  .item-ul {
    padding: 5% 1% 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .item-li{
      border-radius: 20px;
      background-color: #fff;
      position: relative;
      margin: 0.16rem 0;

      .item-img {
        width: 100%;

        img {
          border-radius: 20px;
          width: 100%;
        }
      }

      .item-info {
        margin-bottom: 5%;
        margin-left: 5%;

        &-title {
          height: 1.5rem;
          color: #6B6B6B;
          font-size: 0.4rem;
          font-weight: 400;
          word-break: break-word;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &-price {
          .old-price{
            color: #aaaaaa;
            text-decoration: line-through;
            font-size: 0.35rem;
          }

          .new-price {
            color: #F05423;
            font-size: 0.4rem;

            .new-price-big {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}

.col-12 {
  width: 99%
}
.col-6 {
  width: 49%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32.333%
}
.hot-item-right {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}
.item-tag {
  padding: 0 0.16rem;
  position: absolute;
  background-color: #F05423;
  border: {
    top-right-radius: 0.56rem;
    bottom-right-radius: 0.56rem;
    top-left-radius: 0.31rem;
  }

  &-text {
    font-size: 0.3rem;
    color: #fff;
    line-height: 0.3rem;
  }
}
.cart {
  display: block;
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 0.85rem;
  height: 0.85rem;
  background-color: #F05423;
  border-radius: 10px;

  .mn-icon {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-55%,-45%);
            transform: translate(-55%,-45%);
    width: 0.6rem !important;
    height: 0.6rem !important;
  }
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
.to-top {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: none;
  text-align: center;
  z-index: 999;

  .mn-icon {
    fill: rgba(255,255,255,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0.94rem !important;
    height: 0.94rem !important;
  }
}

.mn-carousel-indicators {
  bottom: 0.2rem !important;
}
.mn-carousel-indicator {
  width: 0.3rem !important;
  height: 0.3rem !important;
}
.mn-carousel-indicator.is-active {
  width: 0.4rem !important;
  height: 0.4rem !important;
}

.loading-text {
  text-align: center;
  line-height: 100vh;
  font-size: 0.47rem;
}
