<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>throttle</title>
</head>
<body>
    <div style="height:5000px">
        <div id="demo" style="position:fixed;"></div>
    </div>
    <script>
      let COUNT = 0
      let demo = document.getElementById('demo')
      function testFn() {
        demo.innerHTML += 'testFN 被调用了 ' + ++COUNT + '次<br>'
      }
      let thtottle = function (fn, delay, atleast) {
        let timer = null
        let start = null

        return function () {
          let now = new Date()
          if (!start) {
            start = now
          }
          if (atleast && now - start > atleast) {
            fn()
            console.log('atleast')
            start = now
            clearTimeout(timer)
          } else {
            clearTimeout(timer)
            timer = setTimeout(function() {
              fn()
              start = null
            }, delay)
          }
        }
      }

      // window.onscroll = thtottle(testFn, 200)
      window.onscroll = thtottle(testFn, 200, 1000);
    </script>
</body>
</html>